.card-container {
  width: 19%;
  min-width: 180px;
  padding: 20px;
  border-radius: 6px;
  border: solid 1px rgba(49, 49, 49, 0.276);
}
.card-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-img {
  width: 100%;
  height: 8em;
  background-color: #b995e6;
  border-radius: 7px;
}

.card-section-title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.product-section {
  display: flex;
  gap: 15px;
}
.product-quantity-input {
  width: 15%;
  background-color: rgba(228, 236, 246, 0.57);
  border-radius: 4px;
  color: rgba(101, 107, 115, 0.784);
  font-weight: 600;
}

.product-cart-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.product-add-cart-btn {
  color: white;
  font-weight: 600;
  padding: 10px;
  border-radius: 7px;
  background-color: #fc6f00;
  cursor: pointer;
}

.product-learn {
  text-decoration: underline;
}
