.setting-container {
  width: 20vw;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  padding: 0 1.5em;
  margin-right: 2vw;
  animation: anim 0.4s ease-out;
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.045);
  background-color: white;
}

.setting-section {
  display: flex;
  flex-direction: column;
}

.product-title-input {
  padding: 15px 10px;
  border-radius: 7px;
  font-size: 16px;
  background-color: rgba(228, 236, 246, 0.57);
  color: rgba(38, 39, 41, 0.784);
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 20px;
}

.controls-section {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-save {
  width: 80%;
  background-color: #8c0fff;
  color: white;
  font-weight: 600;
  font-size: 18px;
  padding: 0.8em 0;
  border-radius: 7px;
  cursor: pointer;
}

@keyframes anim {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 575px) {
  .setting-container {
    width: 40vw;
    position: fixed;
  }
}
