* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: sans-serif;
}

.hidden {
  display: none;
}

.products-view-active {
  margin-left: 25vw;
}
